html(lang="en")
  head
    title= Home

  body
    h3 Find Meters in your area! Enter criteria below to find the best meters for you:
    form(action='/get_spots',method='post')
      div
        label(for='zip') Zipcode:
        input(type='text', id='zip', name='zip')
      div
        label I need a spot for:
        select
          each item in parkTime
            option(value=item) #{item}
      div
        input(type='submit')
